<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdi.projetopdi">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".PdiApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.NovoPedidoActivity"/>
        <activity android:name=".ui.activity.EditarProdutoActivity" />
        <activity android:name=".ui.activity.ListaPedidosActivity"/>
        <activity android:name=".ui.activity.ListaProdutosActivity" />
        <activity android:name=".ui.activity.PrincipalActivity" />
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>